<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Simple Table</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Name
                </th>
                <th>
                  Value
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    V1
                  </td>
                  <td>
                    {{reqDataV1}}
                  </td>
                </tr>
                <tr>
                  <td>
                    V2
                  </td>
                  <td>
                    {{reqDataV2}}
                  </td>
                </tr>
                <tr>
                  <td>
                    V3
                  </td>
                  <td>
                    {{reqDataV3}}
                  </td>
                </tr>
                <tr>
                  <td>
                    V4
                  </td>
                  <td>
                    {{reqDataV4}}
                  </td>
                </tr>
                <tr>
                  <td>
                    V5
                  </td>
                  <td>
                    {{reqDataV5}}
                  </td>
                </tr>
                <tr>
                  <td>
                    V6
                  </td>
                  <td>
                    {{reqDataV6}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
